@import url('https://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic,latin-ext');

body{margin: 0;
	padding: 0;
}

.box{
	padding: 0;
	width: 80%;
	margin: 0 auto;
	height:100vh;
	font-family: 'Poiret One', cursive;
}

.header{
	height: 10vh;
	background-color: #FCCC3A;
	font-size: 18px
}

.body{
	background-color: #B0E0E6;
	height: calc(85vh - 20px);
}

.footer{
	background: #FF5E3E;
	height: 20px;
	position: relative;
}

ul{
	position: absolute;
}

li{
	float: left;
    list-style-type: none;
    margin-right: 30px;
    font-weight: bold;
}

li a:hover {
    border-bottom: 2px solid #FF5E3E;
    color: #FF5E3E;
}

h1,p{
	margin: 3px;
	padding: 0;
}

th, td{
	padding: 5px;
	border-bottom: 1px double white;
}

a:link,:visited{
	color:black;

}
